<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://c.programming.sit.edu.au:80/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://203.35.30.15:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>cWebsite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ITUMFINF8\teamc</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="U3AAttendanceEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=203.35.30.15,22;Initial Catalog=TCSEM12013;User ID=teamc;Password=d&amp;_38G" Name="Server=203.35.30.15,22;Database=TCSEM12013;User ID=teamc;Password=d&amp;_38G" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="U3A_Attendance_Model.U3AAttendanceEntities, U3A_Attendance_Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=203.35.30.15,22;Initial Catalog=TCSEM12013;User ID=teamc;Password=d&amp;_38G" Name="Server=203.35.30.15,22;Database=TCSEM12013;User ID=teamc;Password=d&amp;_38G" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-U3AWeb-20130530113729.mdf;Initial Catalog=aspnet-U3AWeb-20130530113729;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-U3AWeb-20130530113729;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-U3AWeb-20130530113729.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=203.35.30.15,22;Database=TCSEM12013;User ID=teamc;Password=d&amp;_38G</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)U3AAttendanceEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string="Server=203.35.30.15,22;Database=TCSEM12013;User ID=teamc;Password=d&amp;_38G"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>